/* src/index.css */
:root {
  --footer-height: 60px;
}
html, body {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cacacf;
  color: #333;
}
main {
  flex: 1;
  padding-bottom: var(--footer-height);
}
footer {
  height: var(--footer-height);
  margin-top: calc(5 * var(--footer-height));

  padding: 20px 0;
  color: rgb(100, 100, 98);
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

button, .btn {
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
.strikethrough {
  text-decoration: line-through;
}
/* Карточки */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Формы */
input, textarea, select {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  transition: border 0.3s;
}

input:focus, textarea:focus {
  border-color: #4a90e2;
  outline: none;
}

/* Навигация */
.navbar {
  background: linear-gradient(135deg, #4a90e2, #63b3ed);
}
.nav-menu {
  display: flex;
  gap: 24px;
}

/* Стили таблиц */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th, td {
  border: 1px solid #e2e8f0;
  padding: 0.75rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td {
  position: relative; /* Для позиционирования кнопок */
}

thead th {
  background-color: #f7fafc;
  font-weight: 600;
  color: #4a5568;
  border-bottom: 2px solid #cbd5e0;
}

tr:hover {
  background-color: #f8fafc;
}
td:last-child {
  min-width: 150px;
}

.actions-column {
  position: relative; /*  */
  white-space: normal;
  word-break: break-word;
}

.react-icons {
  font-size: 0.5rem;
  color: #333;
}

.react-icons:hover {
  color: #007bff;
}

/* Стиль для кнопки удаления юзера */
.delete-button {
  position: absolute; /* relative; */
  top: 50%;
  right: 0; 
  transform: translateY(-50%);
  display: inline-block;
}
.delete-button svg {
  color: red;
}
.delete-button span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #dc2626;
  color: white;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  /* transition: opacity 0.3s ease; */
  pointer-events: none;
  z-index: 10;
}

.delete-button:hover span {
  opacity: 1;
}
/* Для полосатой таблицы */
tbody tr:nth-child(even) {
  background-color: #f8fafc;
}

tbody tr:hover {
  background-color: #ebf8ff;
}

/* Ошибки */
.error-text {
  color: red;
  font-weight: bold;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

